// TOP  NAV
* {
  font-family: "SFProDisplay", sans-serif;
  font-size: 15px;
}
@font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay"),
    url(./assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
}

a {
  text-decoration: none;
  color: #4e5166;
}

ul,
li {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.error-page {
  margin: 70px auto;
  text-align: center;
}

body {
  background-color: lighten(#4e5166, 60);  

  #root {
    display: flex;
    justify-content: center;
    .body-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      max-width: 1920px;
      margin: 70px 20px;
      position: relative;
      .main {
        width: 45%;
      }
      .right-side {
        width: 30%;
      }
    }
  }
}

input[type="text"],
input[type="password"],
input[type="date"] {
  background-color: lighten(#4e5166, 61);
  border-radius: 15px;
  border-style: none;
  font-size: medium;
  width: 100%;
  padding-left: 12px;
  height: 35px;
  color: lighten(#4e5166, 15);
  font-weight: bold;
  &:hover {
    background-color: lighten(#4e5166, 59);
  }
  &:focus {
    border-color: #4e5166;
    background-color: lighten(#4e5166, 57);
    outline: none;
  }
}

.submit-btn {
  padding: 10px 60px;
  border-radius: 15px;
  color: white;
  font-size: medium;
  margin-bottom: 17px;
  background-color: lighten($color: #fd2d01, $amount: 10);
  border-color: darken($color: #fd2d01, $amount: 10);
  &:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: darken($color: #fd2d01, $amount: 5);
    transition: 0.15s;
  }
}

.bubble {
  background: #ffffff;
  border-radius: 15px;
  padding: 7px;
  box-shadow: 0px 0px 8px 0px lighten(#4e5166, 50);
  li {
    text-decoration: none;
    color: #4e5166;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: aliceblue;
      border-radius: 10px;
      font-weight: bold;
    }
    &:active {
      background-color: darken(aliceblue, 1);
      border-radius: 10px;
      font-weight: bold;
    }
  }
}
