// TOP  NAV
.icon-bis {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}
ul {
  list-style-type: none;
  padding: 0px;
}
* {
  font-family: "SFProDisplay", sans-serif;
}
@font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay"),
    url(./assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
}

body {
  background-color: lighten($color: #ffd7d7, $amount: 3);
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    font-weight: bold;
  }
}