.comments-container {
  p {
    font-size: 13px;
  }
  &__show {
    color: lighten(#4e5166, 17);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .comment-container {
    display: flex;
    &__avatar {
      margin-right: 6px;
      width: 35px;
      height: 35px;
      object-fit: cover;
      border-radius: 50%;
      border: lightgray 1px solid;
      transition: filter 0.3s ease;
      &:hover {
        filter: brightness(85%);
      }
    }
    &__right {
      width: 100%;
      &--content {
        display: flex;
        &-message {
          &.active {
            width: 100%;
          }
          background-color: lighten(lightgrey, 14);
          border-radius: 20px;
          padding: 0px 5px;
          position: relative;
          width: auto;
          p {
            overflow-wrap: anywhere;
            margin: 8px;
          }
          p:first-child {
            font-weight: bold;
            cursor: pointer;
          }
          .userinfo {
            position: absolute;
            visibility: hidden;
            z-index: 2;
            top: 18px;
            left: 0;
            background-color: rgba(0, 0, 0, 0.75);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 8px 0px lighten(#000, 50);
            color: white;
            width: max-content;
          }
          p:first-child:hover {
            + .userinfo {
              visibility: visible;
            }
          }
          .like-container {
            position: absolute;
            bottom: -10px;
            right: -30px;
          }
        }
        &-update {
          background-color: pink;
          margin: 50px;
        }
      }
      &--info {
        display: flex;
        .heart {
          font-weight: bold;
          margin: 5px;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
          .liked {
            color: red;
          }
        }
        .comment-date {
          margin: auto 0px;
        }
      }
    }
  }
  .comment-section {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    &__avatar {
      background-color: red;
      margin-right: 6px;
      width: 35px;
      height: 35px;
      object-fit: cover;
      border-radius: 50%;
      border: lightgray 1px solid;
      transition: filter 0.3s ease;
      &:hover {
        filter: brightness(85%);
      }
    }
    &__input {
      width: 100%;
      margin: 5px;
      position: relative;

      svg {
        position: absolute;
        right: 7px;
        top: 50%;
        opacity: 0.4;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        &:hover {
          cursor: pointer;
        }
      }
      aside {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 100%;
      }
    }
  }
}
