.conection-form {
  width: 27%;
  height: 350px;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px lighten(#fd2d01, 20);
  display: flex;
  background-color: white;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  li:hover {
    cursor: pointer;
  }
}

.form-container {
  text-align: center;
}

.active-btn {
  font-weight: bold;
}
