nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 8px 0px lighten(#4e5166, 50);

  .nav-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 55px;
    max-width: 1800px;
    &-logo {
      img {
        margin-left: 20px;
        height: 100%;
      }
    }
    &-info {
      display: flex;
      margin: 5px 20px;
      &__searchbar {
        display: flex;
        align-items: center;
        input {
          width: 150px;
          height: 30px;
        }
        svg {
          margin: auto 5px;
          padding: 10px;
          cursor: pointer;
          color: #fd2d01;
          &:last-child {
            color: #4e5166;
          }
          &:hover {
            opacity: 0.85;
            background-color: lighten(#4e5166, 60);
            border-radius: 50%;
          }
        }
      }
      &__menu {
        &--trigger {
          display: flex;
          font-weight: bold;
          cursor: pointer;
          .avatar {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            margin: auto 10px;
            box-shadow: 0px 0px 8px 0px lighten(#4e5166, 50);
          }
        }
        &--dropdown {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10px);
          transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
          li {
            padding: 10px 15px ;
          }
          &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
