nav {
  margin: 20px 50px;
  .nav-container {
    background-color: white;
    display: flex;
    border: 1px solid lighten(#FD2D01, 35);
    box-shadow: 0px 0px 20px lighten(#FD2D01, 35);
    height: 100px;
    border-radius: 20px;
    img {
      height: 100%;
      border-radius: 20px;
    }
    ul {
      display: flex;
      margin: auto;
      a {
        text-decoration: none;
        &:hover {
          font-weight: bold;
        }
      }
      li {
        margin: 20px;
      }
    }
  }
}

.icon-bis {
  display: flex;
  flex-direction: column;
  a {
    margin: 10px auto;
  }
}
