nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 8px 0px lighten(#4e5166, 50);
  .nav-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 55px;
    max-width: 1800px;
    &__logo {
      img {
        margin-left: 20px;
        height: 100%;
      }
    }
    &__menu {
      margin-right: 20px;
      &--trigger {
        display: flex;
        font-weight: bold;
        cursor: pointer;
        .avatar {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          margin: auto;
          box-shadow: 0px 0px 8px 0px lighten(#4e5166, 50);
        }
      }
      &--dropdown {
        background: #ffffff;
        border-radius: 8px;
        padding: 7px;
        box-shadow: 0px 0px 8px 0px lighten(#4e5166, 50);
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        li {
          text-decoration: none;
          color: #4e5166;
          padding: 15px 20px;
          display: block;
          cursor: pointer;
          &:hover {
            background-color: aliceblue;
            border-radius: 10px;
            font-weight: bold;
          }
        }
        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
}
