.post-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  .data {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px lighten(#fd2d01, 35);
    .user-info {
      display: flex;
      margin-bottom: 5px;
      p {
        margin: auto 0px;
        font-weight: bold;
      }
    }
    .avatar {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
      margin: 10px 12px 0px 4px;
      box-shadow: 0px 0px 5px 0px lighten(#4e5166, 20);
    }
    .preview {
      width: 300px;
      height: 170px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 0px lighten(#4e5166, 20);
    }
    .form-update {
      display: flex;
      flex-direction: column;
      #file-upload {
        display: none;
      }
      textarea {
        border: 2px dashed orange;
        max-width: 480px;
        min-width: 480px;
        width: 480px;
        min-height: fit-content;
        &:hover {
          background-color: whitesmoke;
        }
        &:focus {
          background-color: whitesmoke;
          outline: none;
          border-color: red;
        }
      }
      .upload-form {
        margin: 10px;
        font-weight: bold;
        height: 20px;
        &:hover {
          cursor: pointer;
          font-size: large;
          color: orange;
          transition: 0.27s;
        }
      }
      .cancel {
        margin: 05px 20px 10px 20px;
        padding: 7px;
        color: white;
        background-color: lightcoral;
        border-color: darken($color: lightcoral, $amount: 10);
        &:hover {
          cursor: pointer;
          font-weight: bold;
          background-color: darken($color: lightcoral, $amount: 10);
        }
      }
      .submit-btn {
        margin: 05px 20px 10px 20px;
        padding: 7px;
        color: white;
        background-color: orange;
        border-color: darken($color: orange, $amount: 10);
        &:hover {
          cursor: pointer;
          font-weight: bold;
          border-color: darken($color: #fd2d01, $amount: 10);
          background-color: lighten($color: #fd2d01, $amount: 10);
        }
      }
    }
  }
}

.thread-container {
  width: 80%;
  margin: auto;
  .card-container {
    margin: 25px auto;
    background-color: white;
    padding: 5px 13px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px lighten(#fd2d01, 35);
    .card-left {
      display: flex;
      justify-content: space-between;
      .card-header {
        display: flex;
        h3 {
          + span {
            opacity: 0;
          }
          &:hover {
            cursor: pointer;
            + span {
              opacity: 1;
              color: gray;
            }
          }
        }
        .poster-date {
         font-style: oblique;
         color: gray;
       }

        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
          border-radius: 50%;
          margin: 15px 15px 0px 15px;
          box-shadow: 0px 0px 5px 0px lighten(#4e5166, 20);
        }
      }
      .update-container {
        align-self: flex-end;
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
        div:hover {
          font-weight: bold;
          cursor: pointer;
          color: darken($color: orange, $amount: 5);
        }
      }
    }
    .card-right {
      display: flex;
      flex-direction: column;
      img {
        height: 170px;
        width: 60%;
        margin-bottom: 10px;
        object-fit: cover;
        align-self: center;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 0px lighten(#4e5166, 20);
      }
      .card-footer {
        .heart-active {
          color: lighten($color: orange, $amount: 10);
        }
        .heart-active,
        .heart {
          &:hover {
            cursor: pointer;
            color: darken($color: orange, $amount: 5);
          }
        }
        .comments-container {
          display: flex;
          flex-direction: column;
          .comment-info {
            &:hover {
              cursor: pointer;
              color: darken($color: orange, $amount: 5);
            }
          }
          .comment-container {
            background-color: whitesmoke;
            display: flex;
            align-items: center;
            margin: 10px;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px lighten(#4e5166, 30);
            .left-part {
              img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
                margin: auto 10px;
                box-shadow: 0px 0px 5px 0px lighten(#4e5166, 20);
              }
            }
            
            .right-part {
              width: 100%;
              .comment-header {
                display: flex;
                p {
                  opacity: 0;
                  font-style: oblique;
                  margin-top: 22px;
                  margin-left: 6px;
                  color: gray;
                }
                h4:hover {
                  cursor: pointer;
                  + p {
                    opacity: 1;
                  }
                }
              }
              .update-container {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 25px;
                margin-top: -60px;
                div {
                  margin-left: 20px;
                  font-weight: bold;
                  color: gray;
                  &:hover {
                    cursor: pointer;
                    color: darken($color: orange, $amount: 5);
                  }
                }
              }
              .comment-content {
                margin-top: -20px;
                display: flex;
                justify-content: space-between;
                .update-comment {
                  margin-top: 20px;
                  .textarea {
                    border: 2px dashed orange;
                    max-width: 480px;
                    min-width: 480px;
                    width: 480px;
                    min-height: fit-content;
                  }
                }
              }
              .comment-date {
                color: #4e5166;
                font-style: oblique;
                text-align: end;
                margin-top: -5px;
                margin-bottom: 5px;
              }
            }
          }

          .comment-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            textarea {
              border: 2px dashed orange;
              max-width: 450px;
              min-width: 450px;
              width: 450px;
              margin: auto;
              min-height: fit-content;
              &:hover {
                background-color: whitesmoke;
              }
              &:focus {
                background-color: whitesmoke;
                outline: none;
                border-color: red;
              }
            }
            .submit-btn {
              margin: 5px 20px 5px 20px;
              padding: 7px;
              color: white;
              background-color: orange;
              border-color: darken($color: orange, $amount: 10);
              &:hover {
                cursor: pointer;
                font-weight: bold;
                background-color: darken($color: orange, $amount: 10);
              }
            }
          }
        }
      }
    }
  }
}
