.profil-container {
  background-color: white;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 0px 20px rgb(151, 151, 151);
  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0px 0px 20px rgb(151, 151, 151);
    margin: 10px;
  }
  .update-container {
    display: flex;
    padding: 10px;
    .left-part {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .upload-btn {
        margin: 05px 20px 10px 20px;
        padding: 8px 20px;
        color: white;
        font-size: small;
        border-radius: 10px;
        border: #fd2d01 solid 2px;
        background-color: darken($color: #ffd7d7, $amount: 20);
        border-color: darken($color: #ffd7d7, $amount: 30);
        transition: 0.15s ease-in-out;
        &:hover {
          cursor: pointer;
          font-weight: bold;
          border: darken($color: #fd2d01, $amount: 10) solid 2px;
          background-color: darken($color: #ffd7d7, $amount: 35);
        }
      }
      #file {
        display: none;
      }
    }
    .right-part {
      width: 50%;
    }
  }
  .submit-btn {
    margin: 05px 20px 10px 20px;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    background-color: lighten($color: #fd2d01, $amount: 10);
    border-color: darken($color: #fd2d01, $amount: 10);
    &:hover {
      cursor: pointer;
      font-weight: bold;
      background-color: darken($color: #fd2d01, $amount: 5);
      transition: 0.15s;
    }
  }
}
