.profil_page {
  display: flex;
  width: 100%;
  &__container {
    text-align: center;
    background-color: white;
    width: 75%;
    padding: 30px;
    margin: auto 30px;
    box-shadow: 0px 0px 8px 0px lighten(#4e5166, 50);
    border-radius: 20px;
    &__form {
      display: flex;
      margin: 30px;
      &--left-part {
        width: 50%;
        margin: auto;
        img {
          height: 250px;
          width: 250px;
          margin: 20px;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0px 0px 5px 0px lighten(#4e5166, 20);
        }
        .upload-btn {
          padding: 8px 20px;
          color: white;
          font-size: small;
          border-radius: 10px;
          border: #fd2d01 solid 2px;
          background-color: darken($color: #ffd7d7, $amount: 20);
          border-color: darken($color: #ffd7d7, $amount: 30);
          transition: 0.15s ease-in-out;
          &:hover {
            cursor: pointer;
            font-weight: bold;
            border: darken($color: #fd2d01, $amount: 10) solid 2px;
            background-color: darken($color: #ffd7d7, $amount: 35);
          }
        }
        #file {
          display: none;
        }
      }
      &--right-part {
        width: 50%;
        text-align: left;
        input[type="text"],
        input[type="password"],
        input[type="date"] {
          margin-bottom: 15px;
        }
        label {
          padding-left: 10px;
          text-transform: uppercase;
          font-weight: bold;
          color: #4e5166;
        }
      }
    }
  }
}
