.right-container {
  width: 30%;
  position: sticky;
  top: 70px;
  float: right;
  height:100vh;
  overflow: scroll;
  padding: 10px;
  &::-webkit-scrollbar-thumb {
    visibility: hidden;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
  &__trending {
    .card-container {
      background: #ffffff;
      border-radius: 15px;
      padding: 10px;
      margin: 20px auto;
      box-shadow: 0px 0px 8px 0px lighten(#4e5166, 50);
      &__user {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &--avatar {
          margin-right: 10px;
          width: 55px;
          height: 55px;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0px 0px 5px 0px lighten(#4e5166, 20);
        }
        &--name {
          margin: 0px;
          font-weight: bold;
        }
        &--date {
          margin: 0px;
          font-size: 12px;
          color: #4e5166;
        }
      }
      &__content {
        margin: -5px auto;
        text-align: center;
        &--message {
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: initial;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        &--picture {
          height: 70px;
          width: 140px;
          object-fit: cover;
          border: #4e5166 1px solid;
          border-radius: 5px;
          box-shadow: 0px 0px 5px 0px lighten(#4e5166, 20);
        }
      }
      &__likecount {
        text-align: right;
        margin: 0px;

        &--info span {
          margin: auto 5px;
          opacity: 0.7;
          font-size: 14px;
          color: #4e5166;
          &:hover {
            opacity: 1;
          }
        }
      }
      &:hover {
        background-color: lighten(#ffd7d7, 7);
        cursor: pointer;
        box-shadow: 0px 0px 5px 0px lighten(#fd2b0186, 30);
        .card-container__user--avatar {
          box-shadow: 0px 0px 5px 0px lighten(#fd2b0186, 30);
        }
        .card-container__content--picture {
          box-shadow: 0px 0px 5px 0px lighten(#fd2b0186, 30);
        }
      }
    }
  }
  &__contact {
    margin-bottom: 70px;
    li {
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      width: fit-content;
      cursor: pointer;
      img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      &:hover {
        background-color: lighten(#c2380e98, 50);
        border-radius: 10px;
        font-weight: bold;
      }
      &:active {
        background-color: lighten(#c2380e98, 45);
        border-radius: 10px;
        font-weight: bold;
      }
    }
  }
}
